html {
	box-sizing: border-box;
}

body { 
     min-height: 100vh;  
     background: url("../images/geobackground.png");
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: scroll;
     margin-left: auto ;
     margin-right: auto;
     margin-top:  100px;
     font-family: 'Raleway', sans-serif;
     line-height: 2.5em;
     text-align: center;
      width: 65%;
}


h1 {
    font-size: 30px;
    margin: 20px;
     line-height:  1.5em;
     font-weight: 300;
}

p {
     line-height:  1.5em;
    /* width: 800px; */
}

.instructions {
    line-height:  1.5em;
    margin-left: auto ;
    margin-right: auto;
    margin-top:  32px;
    max-width: 600px;
}

.crystals {
         display: flex;
         justify-content:  space-around;
         align-items: center;
}

.crystal {
         border: 1px solid gray;
         height: 200px;
         width: 200px;
}

#result {
     text-align: left;
}

img {
     width:  185px;
     height: 1850px;
}

#instructions {
    /* max-width: 900px; */
     text-align: center;
}