body {
    text-align: center;
    margin-left: auto ;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    line-height: 2.5em;
     background: url("../images/watercolor-drink-vector.png");
     background-repeat: no-repeat;
}

h1 {
    font-size: 30px;
    margin: 20px;
     line-height:  1.5em;
}

p {
     line-height:  1.5em;
     width: 800px;
}

.instructions {
    line-height:  1.5em;
    margin-left: auto ;
    margin-right: auto;
    margin-top:  32px;
    max-width: 600px;
}

.crystals {
         display: flex;
         justify-content:  space-around;
         align-items: center;
}

.crystal {
         border: 1px solid green;
         height: 200px;
         width: 200px;
}

#result {
     text-align: left;
}

img {
     width:  185px;
     height: 1850px;
}

#instructions {
     max-width: 900px;
     text-align: center;
}